{% extends 'office/layout_backend.html' %}

{% block title %}产品详情{% endblock %}

{% block content %}
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="house-door-fill" viewBox="0 0 16 16">
    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
  </symbol>
</svg>


  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
      <li class="breadcrumb-item">
        <a class="link-body-emphasis" href="#">
          <svg class="bi" width="16" height="16"><use xlink:href="#house-door-fill"></use></svg>
          <span class="visually-hidden">Home</span>
        </a>
      </li>
      <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'office' %}">系统管理</a>
      </li>
      <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'products' %}">产品管理</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        产品详情
      </li>
    </ol>
  </nav>

  <div class="justify-content-between align-items-center my-3">
    <div><h1>产品详情</h1></div>
    <dl class="table">
        <dt>产品名称:</dt>
        <dd>{{product.name}}</dd>
    </dl>
    <dl class="table">
        <dt>产品描述:</dt>
        <dd>{{product.description}}</dd>
    </dl>
    <dl class="table">
        <dt>产品状态:</dt>
        <dd>{{product.status}}</dd>
    </dl>
</div>
{% endblock %}