{% extends 'home/layout.html' %}

{% block title %}短网址服务{% endblock %}

{% block content %}
<div class="container-fluid px-3 py-5">
    <form method="POST">
        {% csrf_token %}
        <h1 class="text-center">短网址服务</h1>
        <div class="container d-flex justify-content-center">
            <div class="input-group m-4" style="width:600px">
                <input type="text" name="target" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                <button class="btn btn-primary" type="submit" id="button-addon1">生成短网址</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}